* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #59378d;
}


header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

main {
  margin-top: 16px;
  color: white;
  height: 100vh;
}

a{
  text-decoration: none;
}

h1{
  margin-left: 80px;
  font-size: 4rem;
}

h2{
  margin-left: 80px;
  font-size: 1.5rem;
}

h3{
  font-size: 1.2rem;
  margin-bottom: 15px; 
}


section{
  display: flex;
  justify-content: center;
}


div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(./img/bg_laranja.jpg);
  margin: 50px;
  padding: 20px;
  height: 200px;
  width: 300px;
  border-radius: 5%;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}